---
import SocialLinks from '../SocialLinks.astro';
import LinkList from './LinkList.astro'
import Icon from '../Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
  <SocialLinks footer />
	<LinkList footer/>
	<div class="copy-rights">
		Designed & Developed in Katowice with <a href="https://astro.build/">Astro</a>
		<Icon icon="rocket-launch" size="1.2em" />
		&copy; {currentYear} Piotr Łosiniecki
	</div>
</footer>
<style>
	footer {
		padding-top: 0;
		text-align: center;
	}

	.copy-rights {
		margin-top: var(--text-lg);
		font-size: var(--text-sm);
		margin-bottom: var(--text-sm);
	}
</style>
