---
import Icon from '../Icon.astro';
import SocialLinks from '../SocialLinks.astro';
import LinkList from './LinkList.astro'

const navbarHeight = "109px";
---
<nav>
	<div class="navbar">
		<a href="/" class="home-link">Piotr Łosiniecki</a>
		<div class="menu">
			<button class="menu-button" aria-expanded="false">
				<span class="sr-only">Menu</span>
				<Icon icon="list" />
			</button>
			<div class="content" hidden>
				<LinkList />
				<SocialLinks footer />
			</div>
		</div>
		<div class="navbar-links">
			<LinkList header />
			<SocialLinks header />
		</div>
	</div>
</nav>

<script>
	import { iconPaths } from '../IconPaths';

	const listIcon = iconPaths['list'];
	const closeIcon = iconPaths['close'];

	const btn = document.querySelector('.menu-button')!;
	const content = document.querySelector('.menu .content')! as HTMLElement;
	const srTxt = document.querySelector('.menu > button .sr-only') as HTMLElement;
	const iconG = document.querySelector('g')!;

	btn.addEventListener('click', () => {
		const expand = content.hidden

		btn.setAttribute('aria-expanded', expand ? 'true' : 'false');
		srTxt.innerText = expand ? "Zamknij" : "Menu";
		content.hidden = !expand;

		if (expand) {
			iconG.innerHTML = closeIcon;
			document.body.style.overflow = 'hidden';
		} else {
			iconG.innerHTML = listIcon;
			document.body.style.overflow = '';
		}
	});
</script>

<style define:vars={{ 'navbar-height': navbarHeight }}>
	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.home-link {
		font-size: var(--text-xl);
		color: var(--gray-0);
		text-decoration: none;
		font-family: var(--font-acumin-pro);
		font-weight: 400;
		font-style: normal;
	}

	.menu {
		display: flex;
		align-items: center;
	}

	.menu-button {
		font-size: var(--text-xl);
		padding: 0;
		margin: 0;
		border: 0;
		background-color: var(--gray-999);
		cursor: pointer;
	}

	.content {
		position: absolute;
		top: var(--navbar-height);
		left: 0;
		right: 0;
		height: calc(100vh - var(--navbar-height));
		z-index: 1;
		display: flex;
		flex-grow: 1;
		justify-content: flex-start;
		flex-direction: column;
		background-color: var(--gray-999);
	}

	.content[hidden] {
		display: none;
	}

	.navbar-links {
		display: none;
	}

	@media (min-width: 600px) {
		.navbar {
			align-items: center;
		}

		.menu {
			display: none;
		}

		.navbar-links {
			display: flex;
			gap: var(--text-md);
		}
	}


</style>
