---
import MyLayout from '../../layouts/MyLayout.astro';
---

<MyLayout
	title="Piotr Åosiniecki: Janusz Soft"
	description="Strona firmowa Janusz Soft"
>
	<h2>Coast</h2>
</BaseLayout>

<style>

</style>
