---
import MyLayout from '../layouts/MyLayout.astro';
const arr: number[] = new Array(9);
arr.fill(0)
const srcs = arr.map((_, i) => `assets/minatures/${++i}.jpg`);
---

<MyLayout
	title="Piotr Åosiniecki: Janusz Soft"
	description="Strona firmowa Janusz Soft"
>
	<div class="layout">
		{srcs.map((src) =>
			<div class="container">
				<img src={src} alt={''} loading="lazy" decoding="async" />
			</div>
		)}
	</div>
</BaseLayout>

<style>
	.layout {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.box {
		background-color: pink;
		width: 100%;
		height: 100%;
	}

	.wrapper {
		position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
		background-color: red;
	}

	img {
		aspect-ratio: 1 / 1;
		max-height: 100%;
  	width: 100%;
	}
</style>
