---
import MyLayout from '../layouts/MyLayout.astro';
---

<MyLayout
	title="Piotr Åosiniecki: Janusz Soft"
	description="Strona firmowa Janusz Soft"
>
	<div class="layout">
		<section class="about">
			<h2>About</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Nunc mattis enim ut tellus elementum
				sagittis vitae et.
				Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Et tortor at
				risus viverra adipiscing at in tellus integer.
				Integer vitae justo eget magna. Elit duis tristique sollicitudin nibh sit amet
				commodo. Nunc scelerisque viverra mauris in aliquam sem fringilla.
			</p>
			<p>
				Et pharetra pharetra massa massa ultricies mi quis hendrerit. Nisi porta lorem
				mollis aliquam ut porttitor leo a. Euismod elementum nisi quis eleifend quam
				adipiscing vitae proin. Sed libero enim sed faucibus turpis. Penatibus et magnis
				dis parturient montes nascetur ridiculus mus mauris. Vestibulum morbi blandit
				cursus risus at ultrices. Tristique magna sit amet purus gravida quis.
			</p>
		</section>
		<section class="contact">
			<h2>Contact</h2>
			<p>losinieckipiotr@gmail.com</p>
			<p>+48 669 778 287</p>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<div class="links">
				<a href="https://www.instagram.com">Instagram</a>
				<a href="https://www.linkedin.com">LinkedIn</a>
			</div>
		</section>
	</div>
</BaseLayout>

<style>
	.layout {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			"about"
			"contact"
			"follow";
	}

	.about {
		grid-area: about;

		& p {
			margin-top: var(--text-xl);
			margin-bottom: var(--text-xl);

			font-family: var(--font-acumin-pro);
			font-size: var(--text-md);
			font-weight: 500;
			line-height: calc(1.5*var(--text-md));
		}
	}

	.contact {
		grid-area: contact;

		padding-top: 0;

		& p {
			font-family: var(--font-poppins);
			font-size: var(--text-base);
			font-weight: 300;
			line-height: calc(1.2*var(--text-base));
		}
	}

	.follow {
		grid-area: follow;

		& .links {
			display: flex;
			flex-direction: column;

			& a {
				font-family: var(--font-poppins);
				font-size: var(--text-base);
				font-weight: 300;
				line-height: calc(1.5*var(--text-base));
			}
		}
	}

	h2 {
		font-family: var(--font-poppins);
		font-size: var(--text-base);
		font-weight: 300;
		line-height: calc(1.2*var(--text-base));
		margin-bottom: var(--text-base);
	}

	@media (min-width: 600px) {
		.layout {
			grid-template-columns: auto auto;
			grid-template-rows: auto 1fr;
			grid-template-areas:
				"about contact"
				"about follow";
			column-gap: var(--text-xl);
			row-gap: var(--text-lg);
		}

		.contact h2 {
			margin-bottom: var(--text-xl);
		}

		@media (min-width: 1280px) {
			.layout {
				grid-template-areas:
				". about about about about about about about about about contact ."
				". about about about about about about about about about follow .";
				grid-template-columns: repeat(12, 1fr);
				column-gap: var(--text-xl);
			}

			.about p {
				margin-top: var(--text-2xl);
				margin-bottom: var(--text-2xl);

				font-size: var(--text-lg);
			}
		}
	}
</style>
