---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MyHead from '../components/MyHead.astro';
import MyNav from '../components/MyNav.astro';
import MyFooter from '../components/MyFooter.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MyHead title={title} description={description} />
	</head>
	<body>
		<div class="layout">
			<MyNav class="header" />
			<div class="content"><slot /></div>
			<MyFooter />
		</div>
	</body>
</html>

<style>
	.layout {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			"header"
			"content"
			"footer";
		row-gap: var(--text-xl);
		padding: var(--text-xl);
		padding-bottom: 0;
	}

	.header {
		grid-area: header;
	}

	.content {
		grid-area: content;
	}

	.footer {
		grid-area: footer;
	}

	@media (min-width: 600px) {
		.layout {
			row-gap: var(--text-5xl);
		}
	}
</style>
